<div class="col-xs-10 col-xs-offset-1 admin-home-top">
  <h1 class="heading">管理者画面</h1>
  <p><%= Time.zone.today.strftime("%Y年%m月%d日") %></p>
  <p>本日の注文件数:  <%= link_to @new_orders.count, admin_orders_path %>件</p>
  <p>本日の売り上げ: <%= @amount_today.to_s(:delimited) %>円</p>
  <p>本日の新規登録会員数:  <%= link_to @new_users.count, admin_users_path %>名</p>
</div>