<h3>購入情報</h3>

<p>支払い方法</p>
<div class="radio">
  <label><input type="radio" name="radio" id="radio1" value="radio1">クレジットカード</label>
</div>
<div class="radio">
  <label><input type="radio" name="radio" id="radio2" value="radio2" checked="">銀行振込</label>
</div>

<p>お届け先</p>
