<div class="container">
	<h1 class="text-center">ご購入ありがとうございました！</h1>
	<p class="text-center"><%= image_tag 'thanks.png'%></p>
</div>

<div class="top-background"style="background-image: url(<%= asset_url 'top-background.jpg' %>)">
</div>