// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index-table {
  margin-top: 25px;
}
.pagination {
  margin-top: 10px!important;
}

.admin-user-show {
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;
  th {
    width: 15%;
    padding: 8px 0;
  }
  td {
    width: 85%;
    padding: 8px 0;
  }
}
.admin-user-buttons {

}
.admin-user-edit-btn {
  margin-right: 15px;
}
.active-or-unsubscribed {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #9cf;
  margin-left: 10px;
  font-size: 14px;
  padding: 2px;
}