<div class="skippr-container center">
    <div id="theTarget">
        <div class="img-size" style="background-image: url(<%= asset_url 'PAK57_ichigonocake_TP_V.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'MOK_monburancake_TP_V.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'nichinanIMGL9207_TP_V.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'PAK75_yoridorimakaron20140304_TP_V.jpg' %>)"></div>
    </div>
</div>
<div class="container padding-top">
	<div class="center-block col-md-9">
		<p>ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。</p>
	</div>
	<div class="pull-right col-xs-3 padding-top">
		<p>〒000-0000</p>
		<p>長野県〇〇市△△村１−１−１</p>
		<p>ながのケーキ</p>
	</div>
</div>