<div class="container">
	<div class="row">
		<h1 class="text-center">ながのケーキとは？</h1>
		<div class="text-center"><%= image_tag 'about.jpg'%></div>
	</div>
	<div class="col-xs-12">
		<p>ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。ここに概要を入力。</p>
	</div>
	<div class="pull-right col-xs-3">
		<p>〒000-0000</p>
		<p>長野県〇〇市△△村１−１−１</p>
		<p>ながのケーキ</p>
	</div>
</div>