/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

.none-active{
	display: none!important;
}

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.field_with_errors {
  display: inline-block;
  input, textarea {
    border: 1px solid #d9534f;
  }
  label {
    color: #d9534f;
  }
}

.heading {
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: -15px;
  font-size: 30px;
}
.admin-table {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  thead {
    background-color: silver;
  }
}

.cart-count {
  font-family: arial black;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 4px;
  padding-left: 7px;
  padding-top: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: orange;
  border-radius: 50%;
}

 .border{
  padding: 0.5em 1em;
    margin: 2em 0;
    background: #ffce9e;
}


.search-form-box {
  position: absolute;
  bottom: 17px;
  right: 250px;
}
.search-form{
position: relative;
max-width:300px;  
margin-bottom:20px;
}
.search-window-size{
height:35px;
padding:0 10px; 
width: 200px;
position:absolute; 
left:0;
top:0; 
border-radius:25px;
outline:0;
background:white;
}
.sbtn{
height:35px;
width:35px; 
position:absolute; 
left:180px; 
top:0;
background:#5b310f;
color:#fff;
border:none;
border-radius:0 25px 25px 0;
}
.sbtn .fa-search{
font-size:16px; 
position:absolute;
top:25%;
left:25%; 
}
.sbtn:hover{
color:#888;
}

 .icon-custom {
 font-size: 25px;
 text-align: center;
 position: absolute;
 top: 10px;
 left: 0;
 right: 0;
 margin: auto;
 }

 .user-name {
 position: absolute;
 width: 200px;
 }

 header {
 height: 100px;
 box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
 background-color: white;
 }

.navbar-left {
  position: absolute;
  top: -10px;
  left: 7%;
}
footer {
  a {
    font-size: 15px;
    font-family: "Nikukyu";
    color:orange;
  }
  a:hover {
    border-bottom: none;
    color: rgb(194, 126, 0);
  }
  text-align: right;
  margin-top: 20px;
  p {
    margin: 10px 0 15px!important;
  }
}

.header .navbar-right a {
 color: #5b310f;
}

 .header .navbar-right a:hover {
 background-color: white!important;
 color: orange;
 }

 .skippr-container{
    width:100%;
    height: 450px;
}

.img-size{
  background-size:cover!important;
  background-position: center!important;
}

.center{
    margin: 0 auto;
}

.snow {
  color: #87cefa;
  font-size: 18px;
  position: fixed;
  top: -5%;
  text-shadow:
  5vw   -100px 2px,
  10vw  -400px 3px,
  20vw  -500px 4px,
  30vw  -580px 1px,
  39vw  -250px 2px,
  42vw  -340px 5px,
  45vw  -180px 5px,
  49vw  -362px 8px,
  53vw  -167px 9px,
  56vw  -150px 2px,
  67vw  -180px 0,
  71vw  -153px 2px,
  78vw  -220px 4px,
  86vw  -320px 9px,
  94vw  -170px 7px;

  animation: anim 5s linear infinite;
}

@keyframes anim {
  100% {
    color: transparent;
    top: 150%;
  }
}

.back-img{
  background-image: url(image/20140817050912.jpg);
}


.top-marker-line{
  background: linear-gradient(transparent 60%, #ffffff 60%);
  font-size:15px;
  width:80%;
}

.dott{
  border-bottom:dotted 1px #ffffff;
  color:#000000;
}

.dott a{
  color:#000000;
}

.padding-top{
  padding-top: 10px;
}

#error_explanation {
  color: #d9534f;
  h2 {
    font-size: 14px;
  }
}
.alert {
  width: 80%;
  margin: 0 auto;
}
.alert-notice {
  background-color: #C3E3F3;
  border: 1px solid #99CFEA;
  color: #31708F;
}


.top-background {
background-size: cover;
background-position: top 0 left 0;
position: fixed;
top: 50px;
right: 0;
opacity: 0.2;
z-index: -1;
width: 100%;
height: 100%;
}

//画像
.image {
 border-radius: 10px;
 border: solid 2px #deb887;
}

.image_action:hover {
 opacity: 0.5;
 }
.wf-notosansjapanese {
  font-family: "Noto Sans JP";
 }

 .admin-header {
   background-color: #FECE9E;
   padding-top: 25px;
   a {
    color: #5B300E;
   }
   .admin-logo {
     font-size: 24px;
     a {
       display: inline-block;
       margin-top: 20px;
       font-family: 'Verdana', 'arial';
     }
   }
   .navbar-right {
     a {
       border-radius: 20px;
     }
     a:hover {
      background-color: #FECE9E!important;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
     }
     a:active, a:visited {
      background-color: #ebc298!important;
     }
   }
 }