/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.none-active{
	display:none;
}

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.field_with_errors {
  display: inline-block;
}

.heading {
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: -15px;
  font-size: 30px;
}
.admin-table {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  thead {
    background-color: silver;
  }
}



 .border{
  padding: 0.5em 1em;
    margin: 2em 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
 }