// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.pulse{
	width: 60px;
    height: 60px;
    background: #f5f5f5f5;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}

.not_on_sale {
    font-size: 16px;
    color: #A94441;
    background-color: #EBCFCF;
    border-radius: 3px;
    border: 1px solid #DCA7A7;
    padding: 8px;
}