// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-new {
  input[type="text"]:disabled {
    background: #ccc;
  }
  #address-list:disabled {
    background: #ccc;
  }
  h2 {
    font-size: 20px;
  }
  li {
    font-size: 18px;
  }
  span {
    margin-left: 10px;
  }
  .address-li {
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .address-li-top {
    margin-bottom: 10px;
  }
}
.hidden-area {
  color: #aaa;
}
.order-new-submit {
  font-size: 18px!important;
}
.submit-btn-box {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.new-address {
  margin-left: 51px;
}
.new-address-posatal-code {
  margin-left: 15px;
}
#address-list {
  width: 600px;
}

.order-histories {
  font-size: 16px;
  a {
    font-size: 16px;
  }
  .order-history-items {
    margin: 0;
    font-size: 14px;
  }
  .order-history-table-address {
    width: 38%;
  }
  .order-history-table-item {
    width: 24%;
  }
}
.order-history-table-link {
  text-align: center;
  a {
    margin-top: 14px;
    display: inline-block;
  }
}

.order-history-items-page {
  table {
    font-size: 16px;
  }
  .order-history-show-table {
    th {
      width: 25%;
      padding-left: 10px;
    }
  }
}

.order-confirm-page {
  font-size: 16px;
  .btn-primary {
    display: inline-block;
    margin: 0 auto;
    font-size: 16px!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
  }
  strong {
    margin-right: 10px;
  }
  .shipped-address {
    p {
      display: inline-block;
    }
    strong {
      vertical-align: top;
    }
  }
  .payment-method-confirm {
    margin-bottom: 10px;
    strong {
      margin-right: 14px;
    }
  }
}